<header>
    <nav id="navbar" class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/monster/index">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/monster/movies/">Horreurs</a>
                </li>
                <div>
                    <img class="img-fluid halloween" src="https://wallpapertag.com/wallpaper/full/8/0/4/658331-scary-wallpapers-pictures-2559x1600-lockscreen.jpg">
                    <img class="img-fluid halloween" src="https://wallpapertag.com/wallpaper/middle/5/5/c/446592-popular-horror-movie-backgrounds-1920x1080-mac.jpg">
                    <img class="img-fluid halloween" src="https://wallpapertag.com/wallpaper/middle/3/d/9/177926-new-scary-wallpaper-1920x1080.jpg">
                </div>
            </ul>
        </div>
    </nav>
</header>