
{% extends 'layout.html.twig' %}

{% block content %}

{% for question, values in questions %}

<form>

   <h2>{{ question }}</h2>

    <div class="row">

        {% for value, descriptions in values %}

            {% for description in descriptions %}

        <div class="form-check">
            <input class="form-check-input" type="radio" value="" id="defaultCheck1" name="{{  question }}">
            <label class="form-check-label" for="defaultCheck1">
                <a href=""><img class="imageForm" src="{{ value }}"></a>
                <p>{{ description }}</p>
            </label>
        </div>

    {%  endfor %}
    {%  endfor %}
    </div>
</form>

    {%  endfor %}


{% endblock %}
