/* Main part */

* {
    margin:0;
    padding:0;
}

body {
    width:100%;
    background: linear-gradient(135deg, black 40%,#C62C00);
}

h1 {
    font-family: 'Nosifer', cursive;
    color: #C60029;
    margin: 0 auto;
    padding:20px;
}

h2 {
    font-family: 'Freckle Face', cursive;
    color: #C64900;
    margin: 0 auto;
}

p {
    font-family: 'Neucha', cursive;
    color: #C67E00;
    font-size: 24px;
}

a, a:hover {
    text-decoration:none;
}

/* ---------------------------------------------------- */

/* Form */


.form-check{
    display: flex;
    flex-direction: column;
}

.imageForm{
    object-fit: cover;
    object-position: top;
    width : 350px;
    height: 300px;
}

/* ---------------------------------------------------- */

/* movies */


#movies{
    text-align:center;
    padding:20px;
}

#movies .card{
    margin:20px 10px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#movies .card:hover{
    border-radius: 50%;  /* on arrondit l'image */
    -webkit-transform: rotate(360deg); /* rotation de l'image */
    transform: rotate(360deg);
}

#movies .card-body{
    background-color:#C64900;
    color:#fff;
    height:120px;
}


/* ---------------------------------------------------- */

/* profil */

#profil{
    text-align:center;
    padding:20px;
}

#profil .card{
    margin:20px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#profil .card:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#profil .card-body{
    background-color:#C64900;
    color:#fff;
    height:120px;
}

#profil .card:hover .card-body{
    background-color:#C60029;
}

#profil .card .card-title{
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#profil .card:hover .card-title{
    font-size:30px;
}

#profil a{
    list-style:non;
}


/* ---------------------------------------------------- */

/* final */

#final{
    margin-bottom:0px;
}

#final .end{
    flex-direction:row;
    justify-content:center;
    min-height: 100vh;
}

#final .end img{
    min-height:100%;
}

/* ---------------------------------------------------- */

/* navbar */


#navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

#navbar li{
    padding:10px 40px;
    border-radius:10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#navbar a{
    font-family: 'Freckle Face', cursive;
    color:#fff;
    font-size:25px;
}

#navbar li:hover {
    background-color:#C60029;
}

#navbar li:hover a{
    font-size:35px;
}

#navbar .halloween{
    height:70px;
    margin-left:40px;
}

/* ---------------------------------------------------- */

/* section */


section{
    margin-bottom:40px;
}
