

.form-check{
    display: flex;
    flex-direction: column;
}

.imageForm{
    object-fit: cover;
    object-position: top;
    width : 350px;
    height: 300px;
}

p{
    width: 350px;
}

.descriptionImage{
    display: flex;
    width: 350px;
    text-align: center;
    margin: auto;
}

