{% extends 'layout.html.twig' %}

{% block content %}
    <section id="final">
        <div class="row end">
            <img src="https://media3.giphy.com/media/FJh8oUprQx8w8/giphy.webp?cid=790b7611b9ce6d5f545b54047ca3ddf80c30b1796c6d219c&rid=giphy.webp" class="img-fluid">
            <img src="https://i.giphy.com/media/67v6dkXlTfDu8/200.webp" class="img-fluid">
        </div>
    </section>
{% endblock %}