{% extends 'layout.html.twig' %}

{% block content %}
    <section id="final">
        <div class="row end">
            <video controls>
                <source src="/assets/media/extrait_Lights_Out_2013.mp4" type="video/mp4">
                <source src="/assets/media/extrait_Lights_Out_2013.mp4" type="video/webm">
                <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
                    Voici <a href="myVideo.mp4">un lien pour télécharger la vidéo</a>.</p>
            </video>
        </div>
    </section>
{% endblock %}