{% extends 'layoutHome.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
        <img id="background" class="img-fluid" src="/assets/images/background.gif">
        <h1 id="background-title"><a href="/monster/index">Coucou Sidney ...</a></h1>
{% endblock %}